{% extends 'base.html' %}



<html lang="en">
{% block content %}
<head>
   {% load static %}
   {% load widget_tweaks %}
   {% load crispy_forms_tags %}
   <title>Login V13</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=100%, initial-scale=1">
<!--===============================================================================================-->
   <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>

<body style="background-color: #999999;">

   <div class="limiter">
      <div class="container-login100">
         <div class="login100-more" style="background-image: url({% static 'images/bg-01.jpg' %});"></div>

         <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

            <form method="POST" class="login100-form validate-form" enctype="multipart/form-data">
               {% csrf_token %}
               <span class="login100-form-title p-b-59">
                  Sign Up
               </span>

               <div class="wrap-input100 validate-input" data-validate="Username is required">
                  <span class="label-input100">UserName</span>
                  {{form.username|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>



               <div class="wrap-input100 " >
                  <span class="label-input100">First Name</span>
                  {{form.first_name|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>



                <div class="wrap-input100 " >
                  <span class="label-input100">Last Name</span>
                  {{form.last_name|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>



               <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <span class="label-input100">Email</span>
                  {{form.email_id|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>


               <div>
               {{form.phone|as_crispy_field}}
                   <small id="hint_id_username" class="form-text text-muted">
                  {% if 'phone' in errors.keys %}
                  <span style="color:red; position:relative;">{{errors.phone}}</span>
                  {% endif %}
                   </small>
               </div>


               <div class="wrap-input100 validate-input" data-validate = "Password is required">
                  <span class="label-input100">Password</span>
                  {{form.password1|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>



               <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
                  <span class="label-input100">Repeat Password</span>
                  {{form.password2|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>


               <div class="wrap-input100 validate-input" >
                  <span class="label-input100">Is_Seller</span>
                {{form.is_seller}}
                  <span class="focus-input100"></span>
               </div>


               <div class="wrap-input100 " >
                  <span class="label-input100">Description</span>
                  {{form.description|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>

               <div class="wrap-input100 " >
                  <span class="label-input100">Profile Photo</span>
                  {{form.photo|as_crispy_field}}
                  <span class="focus-input100"></span>
               </div>


               <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                     <div class="login100-form-bgbtn"></div>
                     <button class="login100-form-btn">
                        Sign Up
                     </button>
                  </div>


               </div>
            </form>
            <a href="{% url 'blogapp:login' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                     Sign in
               <i class="fa fa-long-arrow-right m-l-5"></i>

            </a>
         </div>
      </div>
   </div>

<!--===============================================================================================-->
   <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
   <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
   <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
   <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
   <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
   <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
   <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
   <script src="{% static 'js/main.js' %}"></script>

</body>
</html>

{% endblock %}